<div class="content">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Online Hash</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="tabs-container">
    <mat-card>
      <tabs></tabs>
    </mat-card>
  </div>
  <div class="footer">
    <div class="footer-columns">
      <div class="footer-left">
        OnlineHash.xyz is an <strong>100% in-browser hashing tool</strong>.
        Nothing is sent to a remote server - its all done on your computer using
        the awesome <a href="https://github.com/brix/crypto-js" targer="_blank">crypto.js</a>
        library.
        <br><br>
        <strong>Why?</strong>
        <br>
        We all use online hashing tools from time to time, occasionally for
        sensitive data that we really shouldn't be pasting into the first site
        we find for "online sha hash" or "online md5 hash" searched. Sure we
        could do it on the command line, but we're lazy.
      </div>
      <div class="footer-right">
        <a href="https://github.com/matt1/onlinehash.xyz" target="_blank">github.com</a>
        <br><br>
        &copy; matt1
      </div>
    </div>
  </div>
</div>